
body{

    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}

ul li{
    list-style: none;
}

img{
    animation: from 1.5s ease;
    border-radius: 30% 30% 30% 30%;
}

main h1,h4,p{
    animation: from 1.5s ease;
}

footer h3,li{
    animation: from 1.5s ease;
}

table{
    animation: from 1.5s ease;
}

form{
    animation: from 1.5s ease;
}




main h1,h4,p{
    animation: from 1.5s ease;
}

main ul li{
    animation: from 1.5s ease;
    padding-bottom: 2rem;
}



table{
    animation: from 1.5s ease;
}

fieldset{
    animation: from 1.5s ease;
    margin-bottom: 6rem;
}

footer ul {
    padding-right: 2rem;
}


.header-icon-title{
    height: auto;
    width: auto;
    max-width: 5rem;
    max-height: 5rem;
}

.navHAM{
    background: linear-gradient(to right, rgb(56, 56, 56),#383838 );
}

.first-section{
    padding: 8rem 0 0 0;
}

.table-icon{
    height: auto;
    width: auto;
    max-width: 3rem;
    max-height: 3rem;
}


.mar-table{
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.img-dowload{
    height: auto;
    width: auto;
    max-width: 10rem;
    max-height: 10rem;
}



.font-sice{
    font-size: 1.5rem;

}

.footer-padding{
    padding: 1rem;
}

.footer-title-padding{
    padding: 3rem;
}

.footer-div-box{
    margin: auto;
    max-width: 300px;
    padding: 2rem;
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.45);
    text-align: center;
}

.footer-icon-title{
    height: auto;
    width: auto;
    max-width: 10rem;
    max-height: 10rem;
}

.text-decoration{
    text-decoration: none;
    color: white;
}

/* Animaciones */
@keyframes from {
    0%{
    opacity: 0;
    transform: translateX(80px);
    }
    100%{
    opacity: 1;
    transform: translateX(0px);
    }
}