
body{
    background: linear-gradient(to bottom, rgb(144, 3, 3), rgb(194, 191, 191));
}

ul li{
    list-style: none;
}

img{
    animation: from 1.5s ease;
    border-radius: 30% 30% 30% 30%;
}

main h1,h4,p{
    animation: from 1.5s ease;
}

main ul li{
    animation: from 1.5s ease;
}

footer {
    animation: from 1.5s ease;
}

table{
    animation: from 1.5s ease;
}

fieldset{
    animation: from 1.5s ease;
}

.navHAM{
    background: linear-gradient(to right, rgb(144, 3, 3),red );
}

.first-section{
    padding: 8rem 0 0 0;
}



.mar-table{
    padding-bottom: 5rem;
    padding-top: 5rem;
}



.font-sice{
    font-size: 1.5rem;
}

.footer-padding{
    padding: 1rem;
}

.footer-title-padding{
    padding: 3rem;
}

/* Animaciones */
@keyframes from {
  0%{
    opacity: 0;
    transform: translateX(80px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}