/* Main */
.navHAM {
  background: linear-gradient(to right, rgb(76, 76, 76), #1f016b);
}

.first-section {
  padding: 8rem 0 0 0;
}

.table-icon {
  height: auto;
  width: auto;
  max-width: 3rem;
  max-height: 3rem;
}

.img-box {
  height: auto;
  width: auto;
  max-width: 30rem;
  max-height: 30rem;
}

/* Mixin */
@mixin caja($width, $height, $background) {
  width: $width;
  height: $height;
  background-color: $background;
  margin-bottom: 6rem;
}
.box {
  @include caja(250px, 360px, rgba(244, 237, 237, 0.145));
}
.box2 {
  @include caja(250px, 360px, rgba(112, 50, 245, 0.164));
}
.box3 {
  @include caja(250px, 360px, rgba(244, 237, 237, 0.145));
}

/* Fin mixin */

/* Maps */
$buttom: (
  violeta: #654dec,
  azulclaro: #3a5795,
  blanco: #ffffff,
  azuloscuro: #0a0091,
);

@each $buttomcolors, $color in $buttom {
  .btn--#{$buttomcolors} {
    background-color: $color;
  }
}

$estilos: (
  color: rgb(255, 255, 255),
  centrar: center,
  tfuente: 35px,
  1rem: 1rem,
);

/* Maps-get() */
h2 {
  color: map-get($estilos, color);
  text-align: map-get($estilos, centrar);
  padding: map-get($estilos, 1rem);
  font-size: map-get($estilos, tfuente);
}

/* Fin maps */

/* Extend */
.buttomcolors {
  background-color: #3b043bfd;
}
.buttomcolors--nuevo {
  @extend .buttomcolors;
}

/* Fin extend */

.sectionn-div-box {
  margin: auto;
  margin-top: 4rem;
  max-width: 350px;
  box-shadow: 0 1px 30px -10px rgb(252, 252, 252);
  text-align: center;
  margin-bottom: 5rem;
}

.mar-table {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.img-dowload {
  height: auto;
  width: auto;
  max-width: 10rem;
  max-height: 10rem;
}

.font-sice {
  font-size: 1.5rem;
}

main {
  ul {
    li {
      padding-bottom: 2rem;
    }
  }
}

.margin-label {
  margin: 1rem;
}

/*Fin Main */
